.form-title {
    font-weight: bold;
    margin: 0 0 1em;
    text-align: center;
    width: 100%;
    padding: 0 0 1em;
    border-bottom: 1px dotted #808080;
}

.login-form {
    padding: 1em;
    box-sizing: border-box;
    margin: 1em;
    border-radius: 1em;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    max-width: 600px;
}

.input-line {
    margin: 1em 0;
    display: block;
    position: relative;
}

body {
    background: #555555;
    font-family: 'PT sans', sans-serif;
}

input {
    border: none;
    border-radius: 3px;
    outline: none;
    line-height: 1.5em;
    padding: 0.25em;
    box-sizing: border-box;
    font-size: 1rem;
    display: inline;
    flex: 1 1 100%;
}

label {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

label input {
    margin-left: 1rem;
}

.underline-form {
    position: absolute;
    bottom: -1px;
    height: 1px;
    width: 0;
    left: 50%;
    right: 50%;
    background: linear-gradient(to left, #0AB45A 30%, #8228B4 100%);
}

input:focus ~ .underline-form {
    left: 0;
    right: 0;
    width: auto;
    transition: left 300ms ease-in-out, right 600ms ease-in-out;
}

button {
    border-radius: 1em;
    width: 100%;
    text-align: center;
    transition-duration: 0.3s;
    font-size: 1em;
    background: linear-gradient(to left, #0AB45A 30%, #8228B4 100%);
    color: white;
    padding: 0.5em 0;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

button:focus {
    outline: none;
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

button + button {
    margin-top: 1rem;
}

.logins-list {
    background: white;
    display: none;
    flex-direction: column;
    padding: 0 1rem;
    box-sizing: border-box;
}

.login-item {
    margin: 0.5rem 0;
    text-align: center;
    width: 100%;
    flex: 0 0 auto;
}

.login-error {
    position: absolute;
    bottom: -1rem;
    left: 0;
    right: 0;
    text-align: center;
    color: red;
    font-size: 0.8rem;
    display: none;
}