.arrow_box {
	position: relative;
	background: #ffffff;
    border: 1px solid #000000;
    height: 100px;
    width: 100px;
    margin-top: 4em;
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 10px;
	margin-top: -10px;
}
.arrow_box:before {
	border-color: rgba(0, 0, 0, 0);
	border-left-color: #000000;
	border-width: 11px;
	margin-top: -11px;
}