@import '~assets/_colors';

.listItem {
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  background: $color_green;
  border-radius: 0.5rem;
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    background: #3569fb;
    color: white;
  }
}

.listItemChecked {
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  background: #fb404a;
  border-radius: 0.5rem;
  transition-duration: 0.3s;
  cursor: pointer;
}