.list-item {
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    background: #61dafb;
    border-radius: 0.5rem;
    transition-duration: 0.3s;
    cursor: pointer;
}

.list-item:hover {
    background: #3569fb;
    color: white;
}

.list-item-checked {
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    background: #fb404a;
    border-radius: 0.5rem;
    transition-duration: 0.3s;
    cursor: pointer;
}